<notify-cmp [items]="1"></notify-cmp>
<layout-content-cmp [directionPrimary]="true" [secondaryContent]="false">
  <ui-annotated-section-cmp [annotatedTitle]="'ACCOUNT_DETAIL.PASSWORD.TITLE' | translate" [description]="true" class="left-content">
    <div class="ui-annotated-section__description">
      <p>{{'ACCOUNT_DETAIL.PASSWORD.DESCRIPTION' | translate}}</p>
    </div>
    <ui-card-cmp class="ui-annotated-section__content">
      <div class="ui-card__content inner-row-offset-form-group-input">
        <div class="row">
          <form-group-input-cmp [form]="form"
                                class="col-12"
                                type="password"
                                name="old_password"
                                [label]="'COMMON.OLD_PASSWORD' | translate"
                                [messages]="[
                                  {type: 'required', text: ('INPUT.VALIDATION.REQUIRED' | translate)},
                                  {type: 'minlength', text: ('INPUT.VALIDATION.MIN_LENGTH' | translate:{count: 3})},
                                  {type: 'maxlength', text: ('INPUT.VALIDATION.MAX_LENGTH' | translate:{count: 255})}
                                ]"></form-group-input-cmp>
        </div>
        <div class="row">
          <form-group-input-cmp [form]="form"
                                class="col-12"
                                type="password"
                                name="new_password1"
                                [label]="'COMMON.NEW_PASSWORD' | translate"
                                [messages]="[
                                  {type: 'required', text: ('INPUT.VALIDATION.REQUIRED' | translate)},
                                  {type: 'minlength', text: ('INPUT.VALIDATION.MIN_LENGTH' | translate:{count: 3})},
                                  {type: 'maxlength', text: ('INPUT.VALIDATION.MAX_LENGTH' | translate:{count: 255})}
                                ]"></form-group-input-cmp>
        </div>
        <div class="row">
          <form-group-input-cmp [form]="form"
                                class="col-12"
                                type="password"
                                name="new_password2"
                                [label]="'COMMON.CONFIRM_PASSWORD' | translate"
                                [messages]="[
                                  {type: 'required', text: ('INPUT.VALIDATION.REQUIRED' | translate)},
                                  {type: 'minlength', text: ('INPUT.VALIDATION.MIN_LENGTH' | translate:{count: 3})},
                                  {type: 'maxlength', text: ('INPUT.VALIDATION.MAX_LENGTH' | translate:{count: 255})},
                                  {type: 'mismatchedPasswords', text: ('INPUT.VALIDATION.MISMATCHED_PASSWORDS' | translate)}
                                ]"></form-group-input-cmp>
        </div>
      </div>
    </ui-card-cmp>
  </ui-annotated-section-cmp>
</layout-content-cmp>
<layout-content-cmp [directionPrimary]="true" [secondaryContent]="false">
  <div class="left-content">
    <hr class="hr__offset">
    <div class="footer">
      <div class="footer__remove"></div>
      <div class="footer__save">
        <button type="button"
                [disabled]="!unSaveService.view"
                (click)="unSaveService[unSaveService.state.isNew ? 'leave' : 'discard']()"
                class="ui-btn ui-btn--default">
          {{'COMMON.' + (unSaveService.state.isNew ? 'CANCEL' : 'DISCARD') | translate}}
        </button>
        <button type="submit"
                (click)="save()"
                [disabled]="form.invalid || !unSaveService.view"
                class="ui-btn ui-btn--primary">
          {{'COMMON.SAVE' | translate}}
        </button>
      </div>
    </div>
  </div>
</layout-content-cmp>
